*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    margin: 0 auto;
    padding: 0; /* Cambia de 2rem a 0 */
    text-align: center;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
